In [34]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np

In [4]:
engine='python'

In [15]:
import pandas as pd

# 映画の評価データ
unames = ['user_id', 'gender', 'age', 'occupation', 'zip']
users = pd.read_table('../datasets/chap02/users.dat', sep='::', header=None, names=unames, engine='python')

rnames=['user_id', 'movie_id', 'rating', 'timestamp']
ratings = pd.read_table('../datasets/chap02/ratings.dat', sep='::', header=None, names=rnames, engine='python')

mnames = ['movie_id', 'title', 'genders']
movies = pd.read_table('../datasets/chap02/movies.dat', sep='::', header=None, names=mnames, engine='python')

In [16]:
users[:3]

   user_id gender  age  occupation    zip
0        1      F    1          10  48067
1        2      M   56          16  70072
2        3      M   25          15  55117

In [17]:
ratings[:3]

   user_id  movie_id  rating  timestamp
0        1      1193       5  978300760
1        1       661       3  978302109
2        1       914       3  978301968

In [18]:
movies[:3]

   movie_id                    title                       genders
0         1         Toy Story (1995)   Animation|Children's|Comedy
1         2           Jumanji (1995)  Adventure|Children's|Fantasy
2         3  Grumpier Old Men (1995)                Comedy|Romance

In [20]:
data = pd.merge(pd.merge(ratings, users, on='user_id'), movies, on='movie_id') # 3つのデータフレームを結合
data[:3]

,user_id,movie_id,rating,timestamp,gender,age,occupation,zip,title,genders
0,1,1193,5,978300760,F,1,10,48067,One Flew Over the Cuckoo's Nest (1975),Drama
1,2,1193,5,978298413,M,56,16,70072,One Flew Over the Cuckoo's Nest (1975),Drama
2,12,1193,4,978220179,M,25,12,32793,One Flew Over the Cuckoo's Nest (1975),Drama

In [55]:
# 性別ごとでの評価
# mean_ratings = pd.pivot_table(data, columns=['title', 'gender'], values=['rating'], aggfunc={'rating': np.mean})
mean_ratings = data.pivot_table('rating', 'title', 'gender', aggfunc='mean')
mean_ratings[:6]

gender                                F         M
title
$1,000,000 Duck (1971)         3.375000  2.761905
'Night Mother (1986)           3.388889  3.352941
'Til There Was You (1997)      2.675676  2.733333
'burbs, The (1989)             2.793478  2.962085
...And Justice for All (1979)  3.828571  3.689024
1-900 (1994)                   2.000000  3.000000

In [56]:
ratings_by_title = data.groupby('title').size()
ratings_by_title[:3]

title
$1,000,000 Duck (1971)       37
'Night Mother (1986)         70
'Til There Was You (1997)    52
dtype: int64

In [58]:
active_titles = rating_by_title.index[ratings_by_title > 250]
mean_ratings = mean_ratings.ix[active_titles]
mean_ratings[:3]

gender                                    F         M
title
'burbs, The (1989)                 2.793478  2.962085
10 Things I Hate About You (1999)  3.646552  3.311966
101 Dalmatians (1961)              3.791444  3.500000

In [61]:
# top_female_ratings = mean_ratings.sort_index(by='F', ascending=False)
top_female_ratings = mean_ratings.sort_values(by='F', ascending=False) 
top_female_ratings[:10]

gender                                                     F         M
title
Close Shave, A (1995)                               4.644444  4.473795
Wrong Trousers, The (1993)                          4.588235  4.478261
Sunset Blvd. (a.k.a. Sunset Boulevard) (1950)       4.572650  4.464589
Wallace & Gromit: The Best of Aardman Animation...  4.563107  4.385075
Schindler's List (1993)                             4.562602  4.491415
Shawshank Redemption, The (1994)                    4.539075  4.560625
Grand Day Out, A (1992)                             4.537879  4.293255
To Kill a Mockingbird (1962)                        4.536667  4.372611
Creature Comforts (1990)                            4.513889  4.272277
Usual Suspects, The (1995)                          4.513317  4.518248

In [64]:
#　評価の分かれたの抽出
mean_ratings['diff'] = mean_ratings['M'] - mean_ratings['F']
sorted_by_diff = mean_ratings.sort_values(by='diff')
# 男性の方が評価が高い映画を抽出
sorted_by_diff[:8]

gender                                        F         M      diff
title
Dirty Dancing (1987)                   3.790378  2.959596 -0.830782
Jumpin' Jack Flash (1986)              3.254717  2.578358 -0.676359
Grease (1978)                          3.975265  3.367041 -0.608224
Little Women (1994)                    3.870588  3.321739 -0.548849
Steel Magnolias (1989)                 3.901734  3.365957 -0.535777
Anastasia (1997)                       3.800000  3.281609 -0.518391
Rocky Horror Picture Show, The (1975)  3.673016  3.160131 -0.512885
Color Purple, The (1985)               4.158192  3.659341 -0.498851

In [65]:
# 女性の方が評価の高い映画を抽出
sorted_by_diff[::-1][:8]

gender                                         F         M      diff
title
Good, The Bad and The Ugly, The (1966)  3.494949  4.221300  0.726351
Kentucky Fried Movie, The (1977)        2.878788  3.555147  0.676359
Dumb & Dumber (1994)                    2.697987  3.336595  0.638608
Longest Day, The (1962)                 3.411765  4.031447  0.619682
Cable Guy, The (1996)                   2.250000  2.863787  0.613787
Evil Dead II (Dead By Dawn) (1987)      3.297297  3.909283  0.611985
Hidden, The (1987)                      3.137931  3.745098  0.607167
Rocky III (1982)                        2.361702  2.943503  0.581801

In [68]:
rating_std_by_title = data.groupby('title')['rating'].std()
rating_std_by_title = rating_std_by_title.ix[active_titles]
rating_std_by_title.sort_values(ascending=False)[:10]

title
Dumb & Dumber (1994)                     1.321333
Blair Witch Project, The (1999)          1.316368
Natural Born Killers (1994)              1.307198
Tank Girl (1995)                         1.277695
Rocky Horror Picture Show, The (1975)    1.260177
Eyes Wide Shut (1999)                    1.259624
Evita (1996)                             1.253631
Billy Madison (1995)                     1.249970
Fear and Loathing in Las Vegas (1998)    1.246408
Bicentennial Man (1999)                  1.245533
Name: rating, dtype: float64